<script src="/js/materialize.js"></script>
<script src="/js/materialize.min.js"></script>
<script src="/scripts/check.js"></script>
<form class="form-horizontal" role="form" ng-submit="createUrl()">
    <div class="card-panel">
        <div class="input-field col s6">
            <input type="text" id="nome" ng-model="URL.longURL">
            <label for="nome">Write URL</label>
        </div>
        <div class="input-field col s6">
            <input type="text" id="nomeCustom" ng-model="URL.customURL">
            <label for="nomeCustom">Write custom short url</label>
            <button type="submit" class="btn btn-default orange darken-4 center-align">Create Short Url</button>
        </div>
        <br>
    </div>
    <div id="url-card" style="visibility: hidden" class="center-align card-panel">
        <div style="display:inline-block;font-size:1.64rem;vertical-align:middle">
            <a id="shortLinkLabel" target="_blank" ng-href="{{URL.short}}" id="shortLabel" type="text"
               ng-model="URL.short">
                {{URL.short}}
            </a>
        </div>
        <div style="display:inline-block;font-size:1.64rem;vertical-align:middle">
            <a style="margin-left:50px" ng-model ="URL.clicks" id="clicks">
                {{URL.clicks}}
            </a>
        </div>
        <div style="display:inline-block;vertical-align:middle">
            <a id="buttonStatistics" style="visibility: hidden"
               class=" btn-floating btn-medium waves-effect waves-light orange darken-4">
                <i class="material-icons">equalizer</i>
            </a>
        </div>
    </div>
</form>